
:root {

  --clr-blue: #5584AC;
  --clr-white: #ffffff;
  --clr-black: #212121;
  --clr-purple-blue: #9FB4FF;

  --ff-main: 'Rubik', sans-serif;

  --fw-bold: 800;

}


body {
    background-color: var(--clr-blue);
    font-family:var(--ff-main);
    font-weight: var(--fw-bold);
  }
  
  /* landing page */

  .logo {
    filter: drop-shadow(5px 5px 5px var(--clr-black));
  }

  .logo, .logo-sm, .s-div {
    text-align: center;
  }

  p {
    color: var(--clr-white);
  }

  .s-div {
    margin-top: 3.5%;
  }

    .text-box {
      padding: 7px 14px;
      width: 125px;
      border-radius: 5px;
      border-color: var(--clr-blue);
      color: var(--clr-blue);
    }
  
    .btn {
      margin-top: 2%;
      border-radius: 5px;
      background-color: var(--clr-white);
      border-color: var(--clr-blue);
      color : var(--clr-blue);
      padding: 7px 12px;
      cursor: pointer;
    }

/* search page */

.word-container {
  padding-bottom: 10px;
}

  .word-class {
    font-style: italic;
    color: var(--clr-purple-blue);
    padding: 10px;
  }

  h4 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .filler {
    margin-top: 0px;
    color: var(--clr-black);
  }

  .word-tangibles {
    display: inline-block;
  }

    .play {
      background: transparent;
      border: none;
      float: left;
      cursor: pointer;
    }

    .word {
      color: var(--clr-black);
      float: left;
    }

ol.custom {
  list-style-type: none;
  margin-left: 0;
}

  ol.custom > li {
    counter-increment: customlistcounter;
  }

  ol.custom > li:before {
    content: counter(customlistcounter) ' ';
    color: var(--clr-purple-blue);
    float: left;
    width: 1.2rem;
  }

  ol.custom:first-child {
    counter-reset: customlistcounter;
  }

  li {
    color: white;
  }
