
{% extends 'pocketBase.html' %}

{% block body %}
    <div class="logo">
      <!-- logo from
      https://toppng.com/happy-book-svg-scrapbook-cut-file-cute-clipart-files-cute-book-
      clipart-PNG-free-PNG-Images_199823?search-result=happy-school-kidws -->
      <img src="{{ url_for ('static', filename='images/book-clipart.png') }}"
        width="250" height="250" alt="dictionary" />
    </div>
    <div class="logo-sm">
      <p>ENGLISH POCKET DICTIONARY</p>
    </div>
    <div class="s-div">
      <form action="{{ url_for ('return_search') }}" method="post">
        <div>
          <input class="text-box" id="user-word" placeholder="enter word" name="word" type="text"
            width="75" required />
        </div>
        <div class="submit-button">
          <button class="btn" type="submit">SUBMIT</button>
        </div>
      </form>
    </div>
{% endblock %}
