
<!DOCTYPE html>
<html lang="en" dir="ltr" />
  <head>
    <meta charset="utf-8" />
    <title>Pocket Dictionary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://kit.fontawesome.com/6862cc70de.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pocketStyles.css') }}" />
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
    <script src="{{ url_for('static', filename='javascript/pocketScript.js') }}"></script>
  </body>
</html>
