
{% extends 'pocketBase.html' %}

{% block body %}
  <div class="logo">
    <img src="{{ url_for ('static', filename='images/book-clipart.png') }}"
      width="250" height="250" alt="dictionary" />
  </div>
  <div class="logo-sm">
    <p>ENGLISH POCKET DICTIONARY</p><br>
    <br>
    <p class="logo-sm"> OOOPS!!!</p>
    <p class="logo-sm"> Your word cannot be found.</p>
    <p> Check your spelling and try again </p>
  </div>

  <div class="s-div">
    <form action="{{ url_for ('home') }}">
      <div class="submit-button">
        <button class="btn" type="submit">HOME</button>
      </div>
    </form>
  </div>

{% endblock %}
